@import "_nav";
@import "_toastrOverride";
// @import "map_marker";

body {
      padding-top: 70px;
}

.google-map {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tr-marker {
    // background: green;
    // background-image: url('../assets/icons/map_icons/map_icon_text_red.svg');
     background-image: url('img/place-marker.svg');
    
    background-size: contain;
    transform: scale(1, 1);
    -webkit-filter: contrast(1);
    will-change: transform;
    transition: -webkit-transform 0.25s cubic-bezier(0.485, 1.65, 0.545, 0.835);
    transform-origin: 8px 100%;
    // margin-left: -40px;
    // margin-top: -30px;

    &.is-active,
    &:hover {
        transform: scale(1.4, 1.4);
    }
}

// mound #7f3f00
// nature-monument #007f3f
// panorama #26b6ff
// castle #bf0000
// beach #086ad3

$categories: beach mound castle nature-monument panorama;

@each $category in $categories {
    .tr-marker-category-#{$category} { 
        background-image: url('img/markers/#{$category}.svg');
    }
}

.list-group-item-heading {
    color: #333333;
    font-size: 16px;
}

.help-block {
    font-size: 12px;
}